[% INCLUDE 'header.tmpl' %]

<link rel="stylesheet" type="text/css" href="KuberDock/assets/script/codemirror/codemirror.css">
<script src="KuberDock/assets/script/codemirror/codemirror.min.js"></script>
<script src="KuberDock/assets/script/codemirror/mode/yaml/yaml.js"></script>
<script src="KuberDock/assets/script/jquery.form-validator.min.js"></script>

<div id="create-new-app" class="container-fluid top-offset">

    [% IF update %]
        <div class="row">
            <div class="col-md-4">
                <h3>Update application</h3>
            </div>
        </div>
    [% END %]

    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data" class="form-horizontal">
                <button type="submit" class="btn btn-primary" name="upload">Upload YAML</button>
                <input type="file" id="yaml_file" name="yaml_file" style="display: inline-block">
            </form>
        </div>
    </div>

    <form method="post" enctype="multipart/form-data" class="form-inline">
        <div class="row">
            <div class="col-md-4">
                <label for="app_name">cPanel app name</label>
                <input type="text" id="app_name" name="app_name" class="form-control" value="[% appName %]"
                       data-validation="custom" data-validation-regexp="^([a-zA-Z_-\s]+)$">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <textarea id="code" class="code-editor" name="code">[% yaml %]</textarea>
            </div>
        </div>

        <div class="row top-offset">
            <div class="col-md-4 text-right">
                <div>
                    <button type="submit" class="btn btn-primary" name="save">
                    [% IF update %]
                        Update application
                    [% ELSE %]
                        Add application
                    [% END %]
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    jQuery.validate();

    var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
        lineNumbers: false,
        lineWrapping: true
    });
</script>