[% INCLUDE 'header.tmpl' %]

<link rel="stylesheet" type="text/css" href="KuberDock/assets/script/codemirror/codemirror.css">
<script src="KuberDock/assets/script/codemirror/codemirror.min.js"></script>
<script src="KuberDock/assets/script/codemirror/mode/yaml/yaml.js"></script>
<script src="KuberDock/assets/script/jquery.form-validator.min.js"></script>
<script src="KuberDock/assets/script/jquery.form-validator.min.js"></script>

<script src="KuberDock/assets/script/fileupload/js/vendor/jquery.ui.widget.js"></script>
<script src="KuberDock/assets/script/fileupload/js/jquery.iframe-transport.js"></script>
<script src="KuberDock/assets/script/fileupload/js/jquery.fileupload.js"></script>

<div id="create-new-app" class="container-fluid top-offset">

    [% IF update %]
        <div class="row">
            <div class="col-md-4">
                <h3>Update application</h3>
            </div>
        </div>
    [% END %]

    <div class="row">
        <div class="col-md-3">
            <label for="app_name">Upload yaml</label>
            <input type="file" id="yaml_file" name="yaml_file" style="display: inline-block">
        </div>

        <div class="col-md-3">
            <div id="progress" class="progress">
                <div class="progress-bar progress-bar-success"></div>
            </div>
            <div class="clearfix"></div>
            <div class="alert alert-danger upload" style="display: none"></div>
        </div>
    </div>

    <form action="[% action %]" method="post" class="form-inline">
        <div class="row">
            <div class="col-md-6">
                <label for="app_name">cPanel app name</label>
                <input type="text" id="app_name" name="app_name" class="form-control" value="[% appName %]"
                       data-validation="custom" data-validation-regexp="^([a-zA-Z_-\s]+)$">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <textarea id="code" class="code-editor" name="code">[% yaml %]</textarea>
            </div>
        </div>

        <div class="row top-offset">
            <div class="col-md-3 text-left">
            [% IF update %]
                <a href="addon_kuberdock.cgi#pre-apps" class="btn btn-default">Back</a>
            [% END %]
            </div>

            <div class="col-md-3 text-right">
                <div>
                    <button type="submit" class="btn btn-primary" name="save">
                    [% IF update %]
                        Update application
                    [% ELSE %]
                        Add application
                    [% END %]
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    jQuery.validate();
    var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
        lineNumbers: false,
        lineWrapping: true
    });

    jQuery(function () {
        'use strict';

        jQuery('#yaml_file').change(function() {
            jQuery('div.alert.upload').html('').hide();
            jQuery('#progress .progress-bar').width('0px');
        });

        jQuery('#yaml_file').fileupload({
            url: '?a=createApp&reqType=json',
            dataType: 'json',
            done: function (e, data) {
                if(!data.result.error) {
                    jQuery('#app_name').val(data.result.appName);
                    editor.getDoc().setValue(data.result.yaml);
                } else {
                    jQuery('div.alert.upload').html(data.result.message).show();
                }
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                jQuery('#progress .progress-bar').css('width', progress + '%');
            }
        }).prop('disabled', !jQuery.support.fileInput)
                .parent().addClass(jQuery.support.fileInput ? undefined : 'disabled');
    });
</script>