<div class="container pull-left">
    <div class="row">
        <div class="col-xs-8 col-md-12">
            [% IF apps.size %]
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center col-xs-1 col-md-1">#</th>
                        <th class="text-center col-xs-3 col-md-6">cPanel app name</th>
                        <th class="text-center col-xs-4 col-md-5">Actions</th>
                    </tr>
                </thead>
                [% i = 0 %]
                [% FOREACH app IN apps %]
                [% i = i+1 %]
                <tr>
                    <td class="text-center">[% i %]</td>
                    <td>[% app.name %]</td>
                    <td class="text-center actions">
                    [% IF app.installed %]
                        <a href="?a=uninstallApp&app=[% app.id %]#pre_apps">
                            <button class="btn btn-warning btn-xs">Uninstall</button>
                        </a>
                    [% ELSE %]
                        <a href="?a=installApp&app=[% app.id %]#pre_apps">
                            <button class="btn btn-success btn-xs">Install</button>
                        </a>
                    [% END %]
                        <a href="?a=updateApp&app=[% app.id %]#pre_apps">
                            <button type="button" class="btn btn-primary btn-xs" title="Update">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Update
                            </button>
                        </a>
                        <a href="?a=deleteApp&app=[% app.id %]#pre_apps">
                            <button type="button" class="btn btn-danger btn-xs" title="Delete">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete
                            </button>
                        </a>
                    </td>
                </tr>
                [% END%]
            </table>
            [% ELSE %]
                <p class="top-offset alert alert-info">You haven't any apps now. Add apps in "Add new application" tab</p>
            [% END%]
        </div>
    </div>
</div>