/kuberdock-plugin/client-plugin/cpanel/KuberDock/dev-config.php
/.idea
/CloudLinux-plugin/modules/addons/addonexample
CloudLinux-plugin/whmcs-cl-plugin*.zip
AppCloud-plugin/whmcs-kuberdock-plugin*.zip
kuberdock-plugin/.idea
kuberdock-plugin/admin-plugin/cpanel/cgi/KuberDock/.idea/
kuberdock-plugin/client-plugin/cpanel/KuberDock/.idea
AppCloud-plugin/.idea
kuberdock-plugin/kuberdock-common/.idea

