/kuberdock-plugin/client-plugin/common/KuberDock/dev-config.php
/.idea
/CloudLinux-plugin/modules/addons/addonexample
CloudLinux-plugin/whmcs-cl-plugin*.zip
AppCloud-plugin/whmcs-kuberdock-plugin*.zip
AppCloud-plugin/whmcs-plugin*.zip
kuberdock-plugin/.idea
kuberdock-plugin/admin-plugin/cpanel/cgi/KuberDock/.idea/
kuberdock-plugin/client-plugin/cpanel/KuberDock/.idea
AppCloud-plugin/.idea
kuberdock-plugin/kuberdock-common/.idea
kuberdock-plugin/tests/log/
/AppCloud-plugin/modules/servers/KuberDock/composer.lock
/AppCloud-plugin/sync.php
AppCloud-plugin/modules/servers/KuberDock/tests/log/
AppCloud-plugin/modules/servers/KuberDock/dev-config.php
/kuberdock-plugin/client-plugin/common/KuberDock/composer.lock
