/kuberdock-plugin/client-plugin/common/KuberDock/dev-config.php
/.idea
kuberdock-plugin/.idea
kuberdock-plugin/admin-plugin/cpanel/cgi/KuberDock/.idea/
kuberdock-plugin/client-plugin/cpanel/KuberDock/.idea
kuberdock-whmcs-plugin/.idea
kuberdock-plugin/kuberdock-common/.idea
kuberdock-plugin/tests/log/
/kuberdock-whmcs-plugin/modules/servers/KuberDock/vendor
/kuberdock-whmcs-plugin/modules/servers/KuberDock/composer.lock
/kuberdock-whmcs-plugin/sync.php
kuberdock-whmcs-plugin/modules/servers/KuberDock/tests/log/
kuberdock-whmcs-plugin/modules/servers/KuberDock/dev-config.php
/kuberdock-plugin/client-plugin/common/KuberDock/composer.lock
/kuberdock-plugin/client-plugin/common/KuberDock/vendor
*.zip
*.rpm