[global]

# kuberdock server URL
url = [% url %]

[defaults]

# default registry to pull docker images from
registry = [% registry %]

# default username for kuberdock to log in
user = hostingPanel
# default password for kuberdock to log in
password = hostingPanel
