#all-apps, #app-page{
    padding: 25px;
    margin-bottom: 20px;
    background: #ffffff;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
}
.splitter{
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #d2d2d2;
}
.splitter.last{
    margin-bottom: 50px;
}
h2{
    margin: 0 0 20px 0;
}
label.title{
    font-weight: 800;
    margin-bottom: 20px;
}
.total-price-wrapper{
    display: block;
    min-height: 36px;
}
.total-price-wrapper .total-price{
    margin: 0;
    right: 0px;
    bottom: -16px;
    font-weight: 800;
    padding: 6px 20px;
    position: absolute;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    min-width: 172px;
}
#all-apps p{
    margin-bottom: 25px;
}
.table>thead>tr>th{
    border-bottom: 0;
    font-weight: bold;
    background-color: #ffffff;
}
.table>tbody>tr>td{
    border-top: 0;
    color: #6b6b6b;
    font-size: 13px;
    font-weight: 400;
}
.table>tbody>tr:nth-child(2n)>td{
    background-color: #ffffff;
}
.table>tbody>tr>td a{
    color: #038ff5;
}
.table>tbody>tr>td a:hover{
    color: #2a6496;
    cursor: pointer;
    text-decoration: underline;
}
/*.app-table>tbody>tr>td button span+span{

}*/
.table{
    margin-bottom: 25px;
}
.table>tbody>tr>td button:hover{
    cursor: pointer;
}
.table>tbody>tr>td button + button{
    margin-left: 10px;
}
.ajax-loader {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/ajax-loader.gif) no-repeat;
}
.ajax-loader.buttons {
    margin: 0;
    float: right;
}

* {
    box-shadow: none !important;
}



p {
    font-size: 100%;
}
.kube-slider, .kube-slider-value {
    margin-top: 10px;
}
.kube-slider-value {
    display: inline-block;
}
#port_table input[type=text],
#volume_table input[type=text].short {
    width: 90px;
}
#volume_table input[type=text].middle {
    width: 120px;
}
.tooltip {
    width: 200px;
}
.container-details {
    display: none;
}
.env-more-link {
    display: inline-block;
    margin-top: 7px;
}
/* fix paper_lantern */
.modal-backdrop {
    z-index: auto !important;
    bottom: auto !important;
}
.navbar-brand > img {
    display: inline-block !important;
}
/* iselect */
.iselect-popup {
    display: none;
    position: absolute;
    margin: 2px;
    border: solid 1px #cccccc;
    background-color: #ffffff;
}
.iselect-popup span {
    display: block;
    margin: 5px 2px;
}
.iselect-popup span:hover {
    cursor: pointer;
    background-color: #c0c0c0;
}
.container-install.predefined input[type=text], .container-install.predefined select {
    width: 100%;
}
.top-offset {
    margin-top: 15px;
}