.alert {
    box-shadow: none !important;
}
.centered {
    font-size: 0;
    text-align: center;
}
.centered > div {
    float: none;
    display: inline-block;
    text-align: left;
    font-size: 13px;
}
#all-apps, #app-page{
    padding: 25px;
    margin-bottom: 20px;
    background: #ffffff;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
}
.splitter{
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #d2d2d2;
}
.splitter.last{
    margin-bottom: 50px;
}
h2{
    margin: 0 0 20px 0;
}
label.title{
    font-weight: 800;
    margin-bottom: 20px;
}
.total-price-wrapper{
    display: block;
    min-height: 36px;
}
.total-price-wrapper .total-price{
    margin: 0;
    right: 0px;
    bottom: -16px;
    font-weight: 800;
    padding: 6px 20px;
    position: absolute;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    min-width: 172px;
}
#all-apps p{
    margin-bottom: 25px;
}
.table>thead>tr>th{
    border-bottom: 0;
    font-weight: bold;
    background-color: #ffffff;
}
.table>tbody>tr>td{
    border-top: 0;
    color: #6b6b6b;
    font-size: 13px;
    font-weight: 400;
}
.table>tbody>tr:nth-child(2n)>td{
    background-color: #ffffff;
}
.table>tbody>tr>td a{
    color: #038ff5;
}
.table>tbody>tr>td a:hover{
    color: #2a6496;
    cursor: pointer;
    text-decoration: underline;
}
/*.app-table>tbody>tr>td button span+span{

}*/
.table{
    margin-bottom: 25px;
}
.table>tbody>tr>td button:hover{
    cursor: pointer;
}
.table>tbody>tr>td button + button{
    margin-left: 10px;
}
.ajax-loader {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background: url(../../images/ajax-loader.gif) no-repeat;
}
.ajax-loader.buttons {
    margin: 0;
    float: right;
}

p {
    font-size: 100%;
}
.kube-slider, .kube-slider-value {
    margin-top: 10px;
}
.kube-slider-value {
    display: inline-block;
}
#port_table input[type=text],
#volume_table input[type=text].short {
    width: 90px;
}
#volume_table input[type=text].middle {
    width: 120px;
}
.tooltip {
    width: 200px;
}
.container-details {
    display: none;
}
.env-more-link {
    display: inline-block;
    margin-top: 7px;
    float: right;
}
/* fix paper_lantern */
.modal-backdrop {
    z-index: auto !important;
    bottom: auto !important;
}
.navbar-brand > img {
    display: inline-block !important;
}
/* iselect */
.iselect-popup {
    display: none;
    position: absolute;
    margin: 2px;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    z-index: 999;
}
.iselect-popup span {
    display: block;
    margin: 5px 2px;
}
.iselect-popup span:hover {
    cursor: pointer;
    background-color: #c0c0c0;
}
.pod-install.predefined input[type=text], .pod-install.predefined select {
    width: 100%;
}
.top-offset {
    margin-top: 15px;
}
.alert-success pre {
    background-color: transparent;
    border: none;
    color: #3c763d;
}
.modal-footer {
    border-top: none;
}

.nopadding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.preapp-install-page p.pre-app-desc{
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 45px;
}



/* preapp install */

.preapp-install-page .page-header,
.preapp-plan-page .page-header{
    padding: 0;
    margin-top: 0;
    position: relative;
}
.header-ico-preapp-install{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 47px;
    margin: auto;
    height: 65px;
    display: block;
    background: url(../../images/preapinstall-ico.png) center no-repeat;

}
.preapp-install-page .page-header h2,
.preapp-plan-page .page-header h2{
    margin-bottom: 0;
    line-height: 64px;
    position: relative;
    display: inline-block;
}

.preapp-install-page .kube-slider,
.preapp-install-page .kube-slider-value{
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
}
.preapp-install-page .kube-slider{
    width: 85%;
}
.preapp-install-page .kube-slider-value{
    width: 14%;
    font-size: 14px;
    text-align: center;
}
.preapp-install-page .kube-slider .noUi-base{
    background-color: #fff;
}
.preapp-install-page .kube-slider .noUi-target{
    border: 1px solid #d2d2d2;
}
.preapp-install-page .predefined input,
.preapp-install-page .predefined select{
    color: #555555;
    padding: 0 20px;
    font-size: 14px;
    padding: 6px 20px;
    line-height: 14px;
    border: 1px solid #cccccc;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.preapp-install-page .predefined label{
    color: #333333;
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}
.total-border-wrapper{
    margin-bottom: 39px;
    position: relative;
    border-bottom: 1px solid #d2d2d2;
}
.total-border{
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 33px;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 20px;
    line-height: 33px;
    position: absolute;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #d2d2d2;
}

.preapp-install-page .product-description pre,
.preapp-plan-page .product-description pre{
    padding: 0;
    border: none;
    color: #333333;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 0px 0 30px;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    font-family: 'Open Sans',sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.preapp-install-page button.btn.btn-primary,
.preapp-install-page a.btn.btn-default,
.preapp-plan-page a.btn.btn-primary{
    border-color: transparent;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.preapp-install-page button.btn.btn-primary:hover,
.preapp-install-page a.btn.btn-default:hover,
.preapp-plan-page a.btn.btn-primary:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18);
}
.preapp-plan-page a.btn.btn-primary{
    margin-bottom: -15px;
}

.preapp-install-page .ajax-loader {
    display: block;
    margin-right: -20px;
    position: relative;
    top: 6px;
}

/* preapp-plan-page */
.preapp-plan-page form.plans .item{
    position: relative;
    margin-bottom: 50px;
    padding: 28px 10% 0;
}
.preapp-plan-page form.plans .item.recommended{
    background: white;
    border: 1px solid #e0e0e0;
}
.preapp-plan-page form.plans .item.recommended .title{
    top: -12px;
    left: 0;
    padding: 3px 0;
    right: 0;
    color: #fff;
    margin: auto;
    width: 119px;
    font-size: 12px;
    font-weight: 800;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    background-color: #e65583;
}
.preapp-plan-page form.plans .item .img{
    left: 0;
    right: 0;
    top: 28px;
    position: relative;
}
.preapp-plan-page form.plans .item .img-wrapper{
    width: 119px;
    padding-top: 30px;
    position: relative;
    margin: 0 auto 18px;
    background: url(../../images/chocolate.png) 0 0 no-repeat;
}
.preapp-plan-page form.plans .item .img-wrapper .plan-name{
    position: absolute;
    top: -10px;
    z-index: 1;
    min-width: 47px;
    padding: 0 10px;
    right: -15px;
    height: 47px;
    color: #fffefe;
    font-size: 17px;
    line-height: 47px;
    text-align: center;
    background-color: #3d8acd;
    display: inline-block;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.preapp-plan-page form.plans .item.recommended .img-wrapper .plan-name{
    background-color: #e65583;
}
.preapp-plan-page form.plans .item.recommended .margin-top a.btn.btn-primary{
    background-color: #e65583;
}
.preapp-plan-page form.plans .item.recommended .margin-top a.btn.btn-primary:hover{
    background-color: #CD3C6A;
}
.preapp-plan-page form.plans .item .img-wrapper .price-wrapper{
    height: 133px;
    margin: 0 auto;
    position: relative;
    background: url('../../images/price-area.png') 0 0 no-repeat;
}
.preapp-plan-page form.plans .item .img-wrapper .price-wrapper .price{
    color: #fff;
    font-size: 26px;
    line-height: 32px;
    height: 51px;
    position: absolute;
    top: 29px;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.preapp-plan-page form.plans .item .img-wrapper .price-wrapper .price span{
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    display: block;
    width: 80%;
    margin: 0 auto;
}
.preapp-plan-page form.plans .item .description{
    color: #e65583;
    font-size: 14px;
    font-weight: 800;
    line-height: 14px;
    padding-bottom: 0;
    margin-bottom: 15px;
}
.preapp-plan-page form.plans .item .description strong{
    display: block;
}
.preapp-plan-page form.plans .item .show-details,
.preapp-plan-page form.plans .item .hide-details{
    color: #000000;
    font-size: 14px;
    cursor: pointer;
    padding-left: 27px;
    position: relative;
    margin-bottom: 15px;
    display: inline-block;
}
.preapp-plan-page form.plans .item .show-details:before,
.preapp-plan-page form.plans .item .hide-details:before{
    top: 0;
    left: 0;
    bottom: 0;
    width: 18px;
    content: '';
    height: 18px;
    margin: auto;
    position: absolute;
    background: url('../../images/item-arrow.png') 0 0 no-repeat;
}
.preapp-plan-page form.plans .item .hide-details:before{
    transform: rotate(90deg) scale(0.817) skew(1deg) translate(0px);
    -webkit-transform: rotate(90deg) scale(0.817) skew(1deg) translate(0px);
    -moz-transform: rotate(90deg) scale(0.817) skew(1deg) translate(0px);
    -o-transform: rotate(90deg) scale(0.817) skew(1deg) translate(0px);
    -ms-transform: rotate(90deg) scale(0.817) skew(1deg) translate(0px);
}
.preapp-plan-page form.plans .item .product-description{
    padding: 10px;
    font-size: 12px;
    text-align: left;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
}
.preapp-plan-page form.plans .plans-area{
    margin-bottom: 50px;
}
.preapp-plan-page form.plans .plans-area > div:nth-child(1) .item .img-wrapper{
    margin-top: 140px;
}
.preapp-plan-page form.plans .plans-area > div:nth-child(2) .item .img-wrapper{
    padding-top: 70px;
    margin-top: 100px
}
.preapp-plan-page form.plans .plans-area > div:nth-child(3) .item .img-wrapper{
    padding-top: 100px;
    margin-top: 70px
}
.preapp-plan-page form.plans .plans-area > div:nth-child(4) .item .img-wrapper{
    padding-top: 130px;
    margin-top: 43px;
}
.preapp-plan-page form.plans .item .description span{
    font-size: 19px;
    line-height: 19px;
}
.preapp-plan-page form.plans .item .margin-top{
    text-align: center;
}

.preapp-plan-page .info-description{
    color: #0b422b;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    padding-left: 44px;
    margin-bottom: 20px;
    position: relative;
}
.preapp-plan-page .info-description:before{
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 28px;
    height: 40px;
    margin: auto;
    position: absolute;
    background: url(../../images/lamp-icon.png) center no-repeat;
}

/* Preloader */
#page-preloader {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#page-preloader .loader::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 3s linear 0s normal none infinite running spin;
    background-clip: padding-box;
    border-color: #f5544d transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    bottom: 5px;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
}
*, *::after, *::before {
    box-sizing: border-box;
}
#page-preloader .loader::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 1.5s linear 0s normal none infinite running spin;
    background-clip: padding-box;
    border-color: #ffb704 transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    bottom: 12px;
    content: "";
    left: 12px;
    position: absolute;
    right: 12px;
    top: 12px;
}
*, *::after, *::before {
    box-sizing: border-box;
}
#page-preloader .loader {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 2s linear 0s normal none infinite running spin;
    background-clip: padding-box;
    border-color: #0074bf transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    display: block;
    height: 100px;
    left: 50%;
    margin: -75px 0 0 -75px;
    position: relative;
    top: 50%;
    width: 100px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Upgrade page */
.slider-value {
    margin-top: 10px;
}
.resources span {
    margin-right: 10px;
}

.load-more a {
    cursor: pointer;
}
/* End upgrade page */

.kd-page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee
}
.table > tbody > tr > td {
    vertical-align: middle;
}
.centered > div {
    vertical-align: top;
}

.table > tbody> tr > td .dropdown-menu a {
    color: #6b6b6b;
    font-size: 12px;
    padding: 3px 10px;
}
.table > tbody > tr > td .dropdown-menu a:hover {
    text-decoration: none;
    color: #6b6b6b;
}

.message {
    box-shadow: none;
}

#contents {
    width: 1100px;
    margin: 0 20px;
}