<link rel="stylesheet" type="text/css" href="KuberDock/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="KuberDock/assets/css/styles.css">

<script src="KuberDock/assets/script/jquery.min.js"></script>
<script src="KuberDock/assets/script/bootstrap.min.js"></script>
<script src="KuberDock/assets/script/scripts.js"></script>