[% INCLUDE 'header.tmpl' %]

<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#resellers" aria-controls="resellers" role="tab" data-toggle="tab">Resellers</a>
        </li>

        <li role="presentation">
            <a href="#pre_apps" aria-controls="pre_apps" role="tab" data-toggle="tab">Pre-defined applications</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="resellers">
            [% INCLUDE 'resellers/index.tmpl' data=data resellers=resellers %]
        </div>

        <div role="tabpanel" class="tab-pane" id="pre_apps">
            [% INCLUDE 'pre-apps/index.tmpl' %]
        </div>
    </div>

</div>