[% INCLUDE 'header.tmpl' %]

<div id="admin-plugin">
    [% IF error %]
        <div role="alert" class="alert alert-danger">
            Cannot connect to KuberDock server, invalid credentials or server url in ~/.kubecli.conf
        </div>
        [% INCLUDE 'kubecli/index.tmpl' %]
    [% ELSE %]
        [% INCLUDE 'tabs.tmpl' %]
        <script>
            var defaults = [% defaults %];
            var packagesKubes = [% packagesKubes %];
        </script>
    [% END %]
</div>

<div class="container-fluid support text-center">
    If you have a problem contact our support team via <a href="mailto:helpdesk@kuberdock.com">
    helpdesk@kuberdock.com</a> or create a request in helpdesk <a href="https://helpdesk.cloudlinux.com">
    https://helpdesk.cloudlinux.com</a>
</div>
