body{
    margin: 30px 0;
    padding: 0;
    background-color: #ffffff;
}
body,td,input,select {
    font-family: Tahoma;
    font-size: 14px;
    color: #40495c;
}
form{ margin: 0px; }
a{
    font-size: 14px;
    color: #6da73a;
    padding: 10px;
}
a:hover {
    color: #2c2c2c;
    text-decoration: none;
}
.check-buttons{ margin: 50px 0; }
.textcenter{ text-align: center; }
.textright{ text-align: right; }
.wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}
.header{
    margin: 0 0 15px 0;
    width: 100%;
}
.row{ margin: 55px 0 25px; }
.title{
    color: #294174;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 10px;
}
.subtitle{
    color: #294174;
    font-size: 14px;
    font-weight: 600;
}
.total{
    color: #6da73a;
    font-size: 18px;
    font-weight: 600;
}
.subtotal{
    color: #111111;
    font-size: 14px;
    font-weight: 600;
}
h1{
    font-size: 26px;
    color: #294174;
}
.details div{ min-height: 46px; }
.details div p{
    margin: 0;
    line-height: 25px;
}
.paid, .refunded, .cancelled, .unpaid{
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.paid{ color: #779500; }
.unpaid{ color: #cc0000; }
.refunded{ color: #224488; }
.cancelled{
    font-size: 14px;
    color: #cccccc;
    font-weight: 600;
}
select.form-control.select-inline{
    width: 100%;
    height: 46px;
    outline: none;
    padding: 0 16px;
    max-width: 250px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
}
table.items {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}
table.items td{ padding: 15px 0px; }
table.items tr td:first-child{ padding-left: 7%;}
table.items tr td:last-child{ padding-right: 7%; }
table.items.clean tr td:first-child{ padding-left: 0;}
table.items.clean tr td:last-child{ padding-right: 0; }
table.items tr:nth-child(odd) td{ background-color: #f4f4f4; }
table.items.clean tr:nth-child(odd) td{ background-color: transparent; }
table.items.clean tr td:first-child,
table.items.clean tr td:last-child{
    border-bottom: 1px solid #d8d8d8;
}