.grey{
    color: rgba(51, 51, 51, 0.7);
    font-size: 12px;
    font-weight: 400;
}

.support {
    background-color: white;
    color: rgba(51, 51, 51, 0.7);
    font-size: 13px;
    margin: 20px 0;
    padding: 0;
    text-align: left;
}

a.always-blue{
    background-color: #1e96c9!important;
    color: white;
}

.paging{
    display: none;
}

.submit-disabled{
    background-color: #999999!important;
}

form#form_app dd{
    margin-left: 215px;
    box-sizing: border-box;
    min-height: 26px;
}

form#form_app dt{
    float: left;
    margin-top: 3px;
    width: 200px;
}

#form_app .CodeMirror-scroll {
    padding: 10px 20px;
}

.CodeMirror {
    border: 1px solid #ededed;
}

/* Bootstrap issues */
.page-header {
    margin: auto!important;
    padding: 0px!important;
}