<div class="container pull-left">
    <div class="row">
        <div class="col-xs-8 col-md-12">
            [% IF data.size %]
            <form action="?a=saveReseller" method="post">
                <table class="table table-bordered" id="resellers">
                    <thead>
                        <tr>
                            <th class="text-center col-md-4">WHMCS server URL\IP</th>
                            <th class="text-center col-md-2">Username</th>
                            <th class="text-center col-md-2">Password</th>
                            <th class="text-center col-md-4">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        [% FOREACH reseller IN data %]
                            [% IF reseller.key != 'defaults' %]
                                <tr>
                                    <td>
                                        <input type="hidden" name="owner" value="ALL">
                                        <input type="text" name="server" value="[% reseller.value.server %]" autocomplete="off">
                                    </td>
                                    <td><input type="text" name="username" value="[% reseller.value.username %]" autocomplete="off"></td>
                                    <td><input type="password" name="password" value="[% reseller.value.password %]" autocomplete="off"></td>
                                    <td class="text-center actions">
                                        <input type="submit" id="save" value="Save" class="btn btn-xs btn-success">
                                        <input class="btn btn-xs btn-danger" type="submit" id="res-delete" value="Delete" owner="ALL" onclick="return resDelete(this);">
                                    </td>
                                </tr>
                            [% END %]
                        [% END %]
                    </tbody>
                </table>
            </form>
            [% ELSE %]
            <form action="?a=addReseller" method="post">
                <input type="hidden" name="owner" value="ALL">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>WHMCS server URL\IP</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" name="server" placeholder="WHMCS server URL\IP"></td>
                            <td><input type="text" name="username" placeholder="WHMCS Admin Username"></td>
                            <td><input type="password" name="password" placeholder="WHMCS Admin Password" autocomplete="off"></td>
                            <td class="actions"><input type="submit" id="add" class="btn btn-success btn-xs" value="Add"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            [% END %]
        </div>
    </div>
</div>