<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            [% IF data.size %]
            <form action="?a=saveReseller" method="post">
                <table class="table table-bordered" id="resellers">
                    <thead>
                        <tr>
                            <th class="col-md-4">WHMCS server URL\IP</th>
                            <th class="col-md-2">Username</th>
                            <th class="col-md-2">Password</th>
                            <th class="col-md-4">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        [% FOREACH reseller IN data %]
                            [% IF reseller.key != 'defaults' %]
                                <tr>
                                    <td>
                                        <input type="hidden" name="[% reseller.key %]:owner">
                                        <input type="text" name="[% reseller.key %]:server" value="[% reseller.value.server %]">
                                    </td>
                                    <td><input type="text" name="[% reseller.key %]:username" value="[% reseller.value.username %]"></td>
                                    <td><input type="password" name="[% reseller.key %]:password" value="[% reseller.value.password %]"></td>
                                    <td class="actions">
                                        <input type="submit" id="save" value="Save" class="btn btn-xs btn-success">
                                        <input class="btn btn-xs btn-danger" type="submit" id="res-delete" value="Delete" owner="[% reseller.key %]" onclick="return resDelete(this);">
                                    </td>
                                </tr>
                            [% END %]
                        [% END %]
                    </tbody>
                </table>
            </form>
            [% ELSE %]
            <form action="?a=addReseller" method="post">
                <input type="hidden" name="newOwner" value="ALL">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>WHMCS server URL\IP</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" name="newServer" placeholder="WHMCS server URL\IP"></td>
                            <td><input type="text" name="newUsername" placeholder="WHMCS Admin Username"></td>
                            <td><input type="text" name="newPassword" placeholder="WHMCS Admin Password"></td>
                            <td class="actions"><input type="submit" id="add" class="btn btn-success btn-xs" value="Add"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            [% END %]
        </div>
    </div>
</div>